/hello world/nbproject/private/
/hello world/build/
/About Me (Assignment 1)/nbproject/private/
/About Me (Assignment 1)/build/
/Assignment 2 Variables/nbproject/private/
/Assignment 2 Variables/build/
/Assignment 3 Math Operations/nbproject/private/
/Assignment3 Math Operations/nbproject/private/
/Assignment3 Math Operations/build/
/Assignment 4 Booleans/nbproject/private/
/Assignment 4 Booleans/build/
/Assignment 5 Scanner/nbproject/private/
/Assignment 5 Scanner/build/
/Assignment 6 Conditionals/nbproject/private/
/Assignment 6 Conditionals/build/
/Assignment 7 While Loops/nbproject/private/
/Assignment 7 While Loops/build/